SaberWebApplication/Service References/SaberServiceReference/SaberWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UOM" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="AvailableQty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchItembyCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemCode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchItembyCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchItembyCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchItembyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchItembyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchItembyNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UOM" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddStockResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ItemCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UOM" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TransactionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlaceOrderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddItem" />
  </wsdl:message>
  <wsdl:message name="AddItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddItemResponse" />
  </wsdl:message>
  <wsdl:message name="SearchItembyCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchItembyCode" />
  </wsdl:message>
  <wsdl:message name="SearchItembyCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchItembyCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SearchItembyNameSoapIn">
    <wsdl:part name="parameters" element="tns:SearchItembyName" />
  </wsdl:message>
  <wsdl:message name="SearchItembyNameSoapOut">
    <wsdl:part name="parameters" element="tns:SearchItembyNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddStockSoapIn">
    <wsdl:part name="parameters" element="tns:AddStock" />
  </wsdl:message>
  <wsdl:message name="AddStockSoapOut">
    <wsdl:part name="parameters" element="tns:AddStockResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="SaberWebServiceSoap">
    <wsdl:operation name="AddItem">
      <wsdl:input message="tns:AddItemSoapIn" />
      <wsdl:output message="tns:AddItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchItembyCode">
      <wsdl:input message="tns:SearchItembyCodeSoapIn" />
      <wsdl:output message="tns:SearchItembyCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchItembyName">
      <wsdl:input message="tns:SearchItembyNameSoapIn" />
      <wsdl:output message="tns:SearchItembyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddStock">
      <wsdl:input message="tns:AddStockSoapIn" />
      <wsdl:output message="tns:AddStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderSoapIn" />
      <wsdl:output message="tns:PlaceOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaberWebServiceSoap" type="tns:SaberWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap:operation soapAction="http://tempuri.org/AddItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchItembyCode">
      <soap:operation soapAction="http://tempuri.org/SearchItembyCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchItembyName">
      <soap:operation soapAction="http://tempuri.org/SearchItembyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStock">
      <soap:operation soapAction="http://tempuri.org/AddStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="http://tempuri.org/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaberWebServiceSoap12" type="tns:SaberWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddItem">
      <soap12:operation soapAction="http://tempuri.org/AddItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchItembyCode">
      <soap12:operation soapAction="http://tempuri.org/SearchItembyCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchItembyName">
      <soap12:operation soapAction="http://tempuri.org/SearchItembyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStock">
      <soap12:operation soapAction="http://tempuri.org/AddStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaberWebService">
    <wsdl:port name="SaberWebServiceSoap" binding="tns:SaberWebServiceSoap">
      <soap:address location="http://localhost:1053/SaberWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SaberWebServiceSoap12" binding="tns:SaberWebServiceSoap12">
      <soap12:address location="http://localhost:1053/SaberWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>